body {
	background-color: #bbc0c0;
}

.mybutton {
	background-color: #ddd;
	border-radius: 0.5em;
	border: solid 2px black;
	box-shadow: rgba(0, 0, 0, 0.2) 0.5em 0.5em 0.3em;
	text-align: center;
	width:8em;
}

@font-face {
font-family: 'CalligraffitiRegular';
src: url('Calligraffiti-webfont.eot');
src: url('Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
url('Calligraffiti-webfont.woff') format('woff'),
url('Calligraffiti-webfont.ttf') format('truetype'),
url('Calligraffiti-webfont.svg#CalligraffitiRegular') format('svg');
font-weight: normal;
font-style: normal;
}

h1 {font: 22px/27px 'CalligraffitiRegular', sans-serif;}

h2 {font: 17px/22px 'CalligraffitiRegular', sans-serif;}

h3 {font: 15px/17px 'CalligraffitiRegular', sans-serif;}

span {font: 12px/14px 'CalligraffitiRegular', sans-serif;}
